.Container {
    margin: auto;
    margin-block-start: 150px;
    width: 50%;
}

.Container p {
    font-weight: bold;
    cursor: pointer;
}

.Container a {
    display: block;
    font-weight: bold;
    text-decoration: none;
}

.Container label {
    position: relative;
    inset-inline-start: -65px;
}

.Container button {
    position: relative;
    inset-inline-start: -115px;
}

.Image {
    display: block;
    margin: auto;
    margin-block-end: 30px;
}