.Container {
    margin: auto;
    margin-block-start: 150px;
    width: 50%;
}

.Container p {
    font-weight: bold;
    cursor: pointer;
}

.Container a {
    display: block;
    font-weight: bold;
    text-decoration: none;
}